body{
    background-color:black;
}
.main-content{
    background-color: rgb(24, 24, 56);
    color: #fff;
    width: 70%;
    border-radius:0.5rem;
    margin: auto;
}
ul{
    list-style-type: none;
    align-items: center;
}
li{
    padding:0;
}
.navbtn>a{
    background-color:rgb(24, 24, 56);
}
a{
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 1rem;
    margin-left: 1rem;
    color: grey;
}
li{
    float:right;
}
a:hover{
    background-color: rgb(255, 51, 0);
    color: white;
}