.description {
  width: 50%;
  margin-left: 25%;
  font-size: 1rem;
  font-weight: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.CardsSection {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
